# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# Python
*.py[cod]
*$py.class
.python-version
.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database migrations (если нужно исключить)
*/migrations/*.py
!*/migrations/__init__.py

# Static files
/static/
/css/
/js/
/node_modules/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VS Code
.vscode/
